<h2>Word Cards</h2>

<div id="container">
  <section class="cards">
    <%= will_paginate @cards %>
    <!--<div class="pagination">-->
      <% @cards.each do |card| %>
        <article class="card">
          <div class="card-thumb front">
            <div class="picture">
              <%= image_tag card.image_src %>
            </div>

            <div class="word">
              <%= link_to card.word, card %>
            </div>

          </div>

          <div class="card-thumb back" style="display: none;">
              <div class="word">
                <strong>Translation:</strong> <%= card.translation %>
              </div>
             <div class="view-card-wrapper">
               <%= link_to 'View Full Card', card, class: 'btn-view-card' %>
             </div>
            <!--<div></div>-->
            <!--< %= link_to card do %>-->

               <!--<div class="word">-->
                  <!--< %= card.translation %>-->
                  <!--&lt;!&ndash;< %= link_to_unless_current card.translation, card %>&ndash;&gt;-->
                <!--</div>-->
            <!--< % end %>-->
          </div>

        </article>
      <% end %>

      <%= link_to(new_card_path) do %>
        <article class="new-card">
          <div class="card-thumb front">
            <div class="picture">
            </div>
            <div class="word">
              new card
            </div>
          </div>
        </article>
      <% end %>


    <!--</div>-->
  </section>



  <div class="menu">



    <br/>
    <%= form_tag tweet_push_cards_path, remote: true, method: :post do %>
      <!--< %= link_to 'Schedule my cards', tweet_push_cards_path(), remote: true, method: :post, class: :btn %>-->
      <%= submit_tag 'Schedule my cards', class: 'btn-fat', onclick: 'toggleSpinner()' %>
      <br/>
      <%= text_field_tag "my_twitter", @my_twitter, style: "width:160px; margin-top: 3px;" %>
    <% end %>
    <br/>
    <p>
      Receive new cards:
    </p>

    <a href="https://twitter.com/gowordcards" class="twitter-follow-button" data-show-count="false" data-size="large"
       data-show-screen-name="false">Follow@gowordcards</a>
    <script>
        !function(d, s, id) {
        var js,fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = "//platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, "script", "twitter-wjs");
    </script>
    <br/>
    <span id="tweet_result"></span>
    <div id="spinner" style="display:none"><%= image_tag 'spinner.gif' %></div>

  </div>

</div>
